<template name="autoCms">
	{{#if autoCmsNavButtons }}
		<div class="row">
			<div class="col-md-12 text-right">
				<div class="btn-group">
				  {{{autoCmsNavButtonInsert}}}
				  {{{autoCmsNavButtonList}}}
				</div>
			</div>
		</div>
	{{/if}}	
	
	<!-- is autoCmsForm in use -->
	{{#if autoCmsForm }}

		<!-- autoForm hooks onSuccess / onError -->
		{{> flashMessages}}

		<!-- if true, show autoForm -->
		{{> quickForm collection=collection doc=data id=formId type=formType buttonContent=formButton}}

		<!-- is removeButton on? it's true by default in update -->
		{{#if removeButton }}
			{{> quickRemoveButton collection=collection id=collection._id beforeRemove=beforeRemove class="btn btn-danger"}}
		{{/if}}	
	
	{{else}}
		
		<!-- if false, show table -->
		{{#if title}}
		<h1>{{title}}</h1>
		{{/if}}
		
		<!-- Default message -->
		{{> flashMessages}}
		
		{{#if wrapperType}}
			<table id="auto-cms-datatable" class="{{wrapperClass}} table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
	      <thead>
	        <tr>
	        	
	          {{#each tableHead}}
						<th>{{this}}</th>
					  {{/each}}

					</tr>
	      </thead>
	      <tbody>

	      	{{#each allData}}
	      	<tr>
	      		{{#each this.data}}
		      	<td class="{{allClass ../class @index}}">{{{ this }}}</td>
		      	{{/each}}
					</tr>
	      	{{/each}}

	      </tbody>
	  	</table>
	  {{else}}
		  <ul class="{{wrapperClass}}">

		  	{{#each allData}}
		    	<li>
		    		{{#each this.data}} 
		    		<div class="{{allClass ../class @index}}">{{{ this }}}</div> 
		    		{{/each}}
		    	</li>
	      {{/each}}

		  </ul>
	  {{/if}}
	{{/if}}
</template>